@font-face {
    font-family: "Alatsi";
    src: url('/src/fonts/Alatsi-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Stilu";
    font-weight: bold;
    src: url('/src/fonts/Stilu-Bold.otf');
}

h1, h2, h3, h4, h5 {
    font-family: "Stilu";
    text-transform: uppercase;
    line-height: 0.9;
}

body {
    font-family: "Alatsi";
}