@use 'variables' as var;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    background: hsl(220, 10%, 12%);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-block: 10px;
}

*:focus-within {
    height: 575px;
}