$level-one: translateZ(10rem);
$level-two: translateZ(4rem);
$level-three: translateZ(2rem);

$accent-color: hsl(55, 17%, 47%);
$bkgd-color-400: hsl(216, 40%, 26%);
$bkgd-color-500: hsl(216, 40%, 16%);
$text-color: hsl(214, 71%, 90%);